{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} 人生苦短、我用python{% endblock title %}
{%- block styles %}
{#    <link href="{{url_for('static',filename='css/mycss.css',_external=True)}}" rel="stylesheet">#}
{#    <link href="{{url_for('static',filename='css/xscss.css')}}" rel="stylesheet">#}
{#    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">#}
{#    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-grid.css')}}">#}
{#    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap-reboot.css')}}">#}
{#     <link rel="stylesheet" href="{{url_for('static',filename='css/github-markdown.css')}}">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1">#}
    {{super()}}
{%- endblock styles %}